*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: azure;
  line-height: 1.7;
  font-family: "Lora", sans-serif; }

h4 {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  word-spacing: 1rem; }

.icon {
  width: 4rem;
  height: 4rem;
  padding: 3rem;
  border-radius: 50%;
  background: rgba(79, 239, 51, 0.2);
  margin: 2rem 0;
  fill: #056b09; }

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90px 100vh; }
  .header__title {
    grid-column: 1 / -1;
    padding: 0 3rem 0 3rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    max-width: 115rem;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    justify-items: flex-start; }
  .header__img {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    width: 100%;
    transform: translateY(-6rem); }

.btn--text {
  outline: none;
  border: none;
  border-bottom: 1px #4fef33 solid;
  background: none;
  font-weight: 500;
  font-family: inherit;
  color: #4fef33;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all .3s; }

.nav {
  background-color: #fff;
  grid-column: 1 / -1;
  display: flex;
  padding: 2rem 5rem 2rem 8rem; }
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center; }
  .nav__item {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: "Lora", sans-serif; }
  .nav__link {
    text-decoration: none; }
    .nav__link:link, .nav__link:active, .nav__link:visited {
      color: #000; }
    .nav__link--btn {
      padding: 1rem 2rem;
      border: none;
      outline: none;
      border-radius: 50px;
      background: linear-gradient(to bottom right, rgba(79, 239, 51, 0.8), rgba(5, 107, 9, 0.8)); }
  .nav__logo {
    margin-right: auto; }
