$color-primary: #4fef33;
$color-secondary: rgb(5, 107, 9);
$color-white-1: #fff;
$color-grey-light: #ccc;
$color-grey-dark: #888;
$color-black-1: #000;
$color-black-2: #333;

$padding-section: 15rem 0;
$margin-section: 12rem 0 12rem 0; 
$margin-bt-heading: 1rem 0;