.btn {
    border: none;
    outline: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    font-family: inherit;
    transition: all .3s;

    &:hover {
        background-color: darken($color: $color-grey-light, $amount: .5);
        
    }
}

