

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #f3f3f3;
    line-height: 1.9;
    font-family: "Lora", sans-serif;
    font-weight: 400;
    color: #444;
}
