.header {
    //background-color: rgb(237, 153, 42);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90px 100vh;
    //margin: 0 auto 0 auto;

    &__title {
        grid-column: 1 / -1;
        padding: 0 3rem 0 3rem;
        display: grid;
        grid-template-columns: 3fr 2fr;
        row-gap: 3rem;
        max-width: 115rem;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
        justify-items: flex-start;
    }

    &__img {
        grid-column: 2 / 3;
        grid-row: 1 / span 4;
        width: 100%;
        transform: translateY(-2rem);
    }
}

.btn {

    &--text {
        outline: none;
        border: none;
        border-bottom: 1px $color-primary solid;
        background: none;
        font-weight: 500;
        font-family: inherit;
        color: $color-primary;
        text-decoration: none;
        display: inline-block;
        font-size: 1.7rem;
        cursor: pointer;
        transition: all .3s;
    }

    &--scroll-to {

    }
}


.nav {
    background-color: $color-white-1;
    grid-column: 1 / -1;
    display: flex;
    padding: 0 6rem;
    z-index: 100;
    //justify-content: space-between;


    &__links {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 4rem;
    }

    &__link {
        
        &:link,
        &:visited {
            color: inherit;
            font-weight: 400;
            text-decoration: none;
            display: block;
            transition: all .3s;
            font-size: 1.7rem;
        }


        &--btn {
            padding: 0 3rem;
            background: linear-gradient(to bottom right, 
                     rgba($color-primary, .8), rgba($color-secondary, .8) ) ;

            &:link,
            &:visited {
                padding: .8rem 2.5rem;
                border-radius: 3rem;
            }

            &:hover,
            &:visited {
                color: inherit;
                background-color: lighten($color: $color-secondary, $amount: .15);
                color: $color-black-2;
            }
        }
    }

    &__logo {
        margin-right: auto;
        height: 4.5rem;
        transition: all .3s;
        align-self: center;
    } 
}

.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

